include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Cuento unidades cuadradas'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .desplegar {
                max-width: 140px;
                margin: 0 10px;
            }
            @media (max-width: 680px) {
                .desplegar {
                    max-width: 40px;
                }
                .activity .number.smaller {
                    font-size: 1rem;
                }
            }
            .activity .number.smaller {
                margin-bottom: 10px;
            }


    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Elige la respuesta correcta para resolver los problemas de área y perímetro." textaudio="s/instruccion1.mp3" :autoplay="true" @completedinstructions="temps.au1 = true")
                activity
                    template(v-if="temps.au1")
                        .row.w100
                            .common: audiotext(:autoplay="true" audio="s/audio1.mp3" text="Manuel tiene un terreno que mide 8 unidades de ancho y 5 unidades de largo. ¿Cuál es el área y el perímetro?")
                        
                        .row.w100.wrap.mt-1
                            .w40: img(src="i/a.png").w100
                            .w40.text-center
                                .common
                                    number(c=4 smaller) Área =
                                    .row.w100
                                        desplegar(:answer-num="1" show-ok modal-options  :options="[45, 40,30]" ): template(v-slot:option="{option}"): number(smaller randomc) {{option.text}}
                                        div unidades cuadradas.
                                .common.mt-1
                                    number(c=5 smaller) Perímetro =
                                    .row.w100
                                        desplegar(:answer-num="1" show-ok modal-options  :options="[24,26,28]" ): template(v-slot:option="{option}"): number(smaller randomc) {{option.text}}
                                        div unidades.
            
            // SCENES
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Elige la respuesta correcta para resolver los problemas de área y perímetro." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                        .row.w100: .common: audiotext(:autoplay="true" audio="s/audio2.mp3" text="Pedro compró una mesa que mide 7 unidades de ancho y 6 unidades de largo. ¿Cuál es el área y el perímetro de su mesa?")

                        .row.w100.wrap.mt-1
                            .w40: img(src="i/b.png").w100
                            .w40.text-center
                                .common
                                    number(c=4 smaller) Área =
                                    .row.w100
                                        desplegar(:answer-num="2" show-ok modal-options  :options="[54,35,42]" ): template(v-slot:option="{option}"): number(smaller randomc) {{option.text}}
                                        div unidades cuadradas.
                                .common.mt-1
                                    number(c=5 smaller) Perímetro =
                                    .row.w100
                                        desplegar(:answer-num="2" show-ok modal-options  :options="[25,20,26]" ): template(v-slot:option="{option}"): number(smaller randomc) {{option.text}}
                                        div unidades.
            
            
            // SCENES
            scene(v-if="currentScene==3" :key="3" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Elige la respuesta correcta para resolver los problemas de área y perímetro." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                        .row.w100: .common: audiotext(:autoplay="true" audio="s/audio3.mp3" text="Ana pintó una pared de su habitación que mide 9 unidades de largo por 5 unidades de ancho. ¿Cuánto mide la pared de área y de perímetro?")

                        .row.w100.wrap.mt-1
                            .w40: img(src="i/c.png").w100
                            .w40.text-center
                                .common
                                    number(c=4 smaller) Área =
                                    .row.w100
                                        desplegar(:answer-num="0" show-ok modal-options  :options="[45,56,54]" ): template(v-slot:option="{option}"): number(smaller randomc) {{option.text}}
                                        div unidades cuadradas.
                                .common.mt-1
                                    number(c=5 smaller) Perímetro =
                                    .row.w100
                                        desplegar(:answer-num="0" show-ok modal-options  :options="[28,30,32]" ): template(v-slot:option="{option}"): number(smaller randomc) {{option.text}}
                                        div unidades.
            
            
            // SCENES
            scene(v-if="currentScene==4" :key="4" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Elige la respuesta correcta para resolver los problemas de área y perímetro." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                        .row.w100: .common: audiotext(:autoplay="true" audio="s/audio4.mp3" text="Fernanda tiene un jardín que mide 10 unidades de largo y 7 unidades de ancho. ¿Cuánto mide de área y perímetro?")

                        .row.w100.wrap.mt-1
                            .w40: img(src="i/d.png").w100
                            .w40.text-center
                                .common
                                    number(c=4 smaller) Área =
                                    .row.w100
                                        desplegar(:answer-num="1" show-ok modal-options  :options="[60,70,17]" ): template(v-slot:option="{option}"): number(smaller randomc) {{option.text}}
                                        div unidades cuadradas.
                                .common.mt-1
                                    number(c=5 smaller) Perímetro =
                                    .row.w100
                                        desplegar(:answer-num="0" show-ok modal-options  :options="[34,17,27]" ): template(v-slot:option="{option}"): number(smaller randomc) {{option.text}}
                                        div unidades.
            
            
            // SCENES
            scene(v-if="currentScene==5" :key="5" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Elige la respuesta correcta para resolver los problemas de área y perímetro." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                        .row.w100: .common: audiotext(:autoplay="true" audio="s/audio5.mp3" text="La maestra adornará la puerta del salón que mide 6 unidades de largo y 4 unidades de ancho. ¿Qué área total tiene que forrar la maestra para adornarla y cuánto listón necesita para el borde?")

                        .row.w100.wrap.mt-1
                            .w40: img(src="i/e.png").w100
                            .w40.text-center
                                .common
                                    number(c=4 smaller) Área =
                                    .row.w100
                                        desplegar(:answer-num="2" show-ok modal-options  :options="[10,42,24]" ): template(v-slot:option="{option}"): number(smaller randomc) {{option.text}}
                                        div unidades cuadradas.
                                .common.mt-1
                                    number(c=5 smaller) Perímetro =
                                    .row.w100
                                        desplegar(:answer-num="2" show-ok modal-options  :options="[14,10,20]" ): template(v-slot:option="{option}"): number(smaller randomc) {{option.text}}
                                        div unidades.



            
            // END
            scene(v-if="currentScene==6" :key="6" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'au1', false)
                
                app.currentScene = 0
                app.scenesCount = 5