include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Escribo mi autobiografía'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .audiotext.mini {
                flex-direction: row;
                background: #fff;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                margin: 4px;
            }
            .audiotext.mini .audiotextBtn img,
            .audiotext.mini .audiotextBtn embed {
                width: 30px;
            }
            .activity .audiotext .audiotextBtn {
                height: 30px;
            }
            .dialoganim .dialogaudio {
                position: relative;
            }
            .dialoganim .dialogaudio .audiotextBtn {
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 40px;
            }
            

            .biogra {
                background-image: url("i/biobg.png");
                background-size: 100%;
                padding: 30px;
                border-radius: 10px;
                box-shadow: 6px 6px 0 var(--sec);
            }
            .biogra p {
                margin: 20px;
                line-height: 1.4;
                font-weight: bold;
            }
            .biogra .h4 {
                font-weight: bold;
                text-align: center;
            }
            @media (max-width: 680px) {
                .biogra {
                    font-size: 0.9rem;
                    padding: 6px;
                }
                .biogra p {
                    margin: 10px;
                }
            }

            .biogra {
                position: relative;
            }
            .biogra .goma,
            .biogra .lapiz {
                position: absolute;
            }
            .biogra .goma {
                width: 10%;
                top: 0.5%;
                right: 2%;
            }
            .biogra .lapiz {
                width: 5%;
                bottom: 20%;
                left: -1%;
            }
            
            .finalpreguntas .pregu {
                border: 2px solid var(--sec);
                border-radius: 10px;
                margin-bottom: 4px;
                padding: 8px 0;
            }
            .finalpreguntas .number.smaller {
                font-size: 1.2rem !important;
            }
            .finalpreguntas .clickable.clicked {
                background: rgba(0,0,0,0.1);
                border: 2px solid #DA3F34;
                border-radius: 6px;
                padding: 3px 10px;
            }
            .finalpreguntas .clickable.clicked embed {
                display: none;
            }
            .sequence{margin: 0 10px;}
            @media (max-width: 720px) {
                .finalpreguntas .h4 {
                    font-size: 0.8rem;
                }
                .finalpreguntas .number.smaller {
                    font-size: 0.9rem !important;
                    -webkit-text-stroke-width: 1px !important;

                }
                .h2{ font-size: 1.4rem; }
                .h3{ font-size: 1.2rem; }
                .h4{ font-size: 1rem; }
                .activity .audiotext .audiotextBtn {
                    height: 22px; width: 22px;
                }
                .sequence_nav .button.big{ font-size: 1.1rem;}
                .biogra p {line-height: 1; font-size: 0.7rem;}
            }

            .alreadyok.clicked {
                position: relative;
            }
            .alreadyok.clicked:after {
                content: "✔";
                position: absolute;
                width: 14px;
                height: 14px;
                background: var(--main);
                border-radius: 50%;
                top: 0;
                right: 0;
                color: #fff;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
            }






    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Observa y escucha la explicación con atención." textaudio="s/instruccion1.mp3" :autoplay="true" @completedinstructions="temps.s1 = true")
                activity
                    template(v-if="temps.s1")
                        .row.w100.h3
                            audiotext(audio="s/s1.mp3" speed-offset="1.5" :autoplay="true" text="Las autobiografías se escriben en primera persona del singular, el narrador utiliza los verbos en pasado para hablar de su vida y su familia. Es decir, es el relato de la vida de una persona escrita por ella misma." @completed="temps.s1_btn = true")
                        .row.w100.mt-1: img(src="i/1a.png").w50.animate__animated.animate__zoomInUp.animate__delay-2s
                    .row.w100(v-if="temps.s1_btn"): button(@click="sceneCompleted(false)").button.big.animate__animated.animate__lightSpeedInLeft Siguiente
            

            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Observa y escucha la explicación con atención." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100.h3
                        audiotext(audio="s/s2.mp3" :autoplay="true" text="Las personas gramaticales son: " @completed="temps.s3 = true")
                    .row.w100.h4(v-if="temps.s3")
                        audiotext(audio="s/s3.mp3" :autoplay="true" text="<strong>Yo</strong>, primera (1a) persona del singular, es la persona que habla." initclass="mini" @completed="temps.s4 = true" )
                    .row.w100.h4(v-if="temps.s4")
                        audiotext(audio="s/s4.mp3" :autoplay="true" text="<strong>Tú</strong>, segunda (2a) persona del singular, es la persona con quien se habla." initclass="mini" @completed="temps.s5 = true")
                    .row.w100.h4(v-if="temps.s5")
                        audiotext(audio="s/s5.mp3" :autoplay="true" text="<strong>Él/Ella</strong>, tercera (3a) persona del singular, es la persona de quien se habla." initclass="mini" @completed="temps.s6 = true")
                    
                    .row.w100(v-if="temps.s6")
                        audiotext(audio="s/s6.mp3" :autoplay="true" text="También hay personas gramaticales del plural: " initclass="" @completed="temps.s7 = true")
                    
                    .row.w100.h4(v-if="temps.s7")
                        audiotext(audio="s/s7.mp3" :autoplay="true" text="<strong>Nosotros</strong> (1a persona); <strong>ustedes</strong> (2a persona) y <strong>ellos/ellas</strong> (3a persona). " initclass="mini" @completed="temps.s7_btn = true")
                
                    .row.w100: img(src="i/2a.png").w80.animate__animated.animate__zoomInUp
                    
                    .row.w100(v-if="temps.s7_btn"): button(@click="sceneCompleted(false)").button.big.animate__animated.animate__lightSpeedInLeft Siguiente
            
            scene(v-if="currentScene==3" :key="3" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Veamos el siguiente ejemplo:" textaudio="s/s8.mp3" :autoplay="true" @completedinstructions="temps.sc3 = true")
                activity
                    .dialoganim
                        sequence(use-vif :options="[{img: 'i/2a.png'}, {audio:'s/s9.mp3', img: 'i/2b.png'}, {audio:'s/s10.mp3', img: 'i/2c.png'}, {audio:'s/s11.mp3', img: 'i/2d.png'}, {audio:'s/s12.mp3', img: 'i/2e.png'}]" @completed="temps.s12_btn = true")
                            template(v-slot:option="{option}")
                                dialogaudio(:audio="option.audio" :autoplay="true" always-visible v-if="option.audio")
                                img(:src="option.img").w100
                           
                    .row.w100(v-if="temps.s12_btn"): button(@click="sceneCompleted(false)").button.big.animate__animated.animate__lightSpeedInLeft Siguiente
            
            
            scene(v-if="currentScene==4" :key="4" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="4" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Ya sabes cuáles son las personas gramaticales, así que ya puedes identificarlas seleccionando la respuesta correcta." textaudio="s/instruccion2.mp3" :autoplay="true")
                activity
                    .row.w70
                        .dialoganim
                            sequence(use-vif :options="[{img: 'i/3a.png'}, {audio:'s/s13.mp3', img: 'i/3b.png'}, {audio:'s/s14.mp3', img: 'i/3c.png'}]" @completed="temps.preguntas = 'p1'")
                                template(v-slot:option="{option}")
                                    dialogaudio(:audio="option.audio" :autoplay="true" always-visible v-if="option.audio")
                                    img(:src="option.img").w100
                    
                    div(v-if="temps.preguntas == 'p1'")
                        .h4.text-center ¿Quién habla en primera persona del singular?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Miguel','Irene','Brenda']" :key="'p1'+index" :isok="index == 2" simple-ok initclass="pa-1" @wasclicked="temps.preguntas = 'p2' "): number(randomc smaller) {{i}}
                    div(v-if="temps.preguntas == 'p2'")
                        .h4.text-center ¿Quien es la segunda persona del singular?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Brenda','Irene','Miguel']" :key="'p2'+index" :isok="index == 1" simple-ok initclass="pa-1" @wasclicked="temps.preguntas = 'p3' "): number(randomc smaller) {{i}}
                    div(v-if="temps.preguntas == 'p3'")
                        .h4.text-center Si se habla de Miguel, ¿qué persona del singular le corresponde?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Primera','Segunda','Tercera']" :key="'p3'+index" :isok="index == 2" simple-ok initclass="pa-1" @wasclicked="temps.preguntas = 'p4' "): number(randomc smaller) {{i}}
                    div(v-if="temps.preguntas == 'p4'")
                        .h4.text-center Si Irene dijera: Ustedes son muy talentosos, ¿qué persona gramatical está usando?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Segunda persona del singular','Segunda persona del plural','Tercera persona del plural']" :key="'p4'+index" :isok="index == 1" simple-ok initclass="pa-1" @wasclicked="temps.preguntas = 'fin' "): number(randomc smaller) {{i}}

            scene(v-if="currentScene==5" :key="5" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Ahora, lee la autobiografía." textaudio="s/instruccion3.mp3" :autoplay="true")
                activity
                    .row.w100
                        .w90.biogra
                            .h4 Autobiografía
                            p Me llamo Claudia y tengo 8 años. Nací en Saltillo, Coahuila, el día 9 de mayo de 2012. En mi familia somos cuatro personas. Mi papá se llama Alfredo. Él trabaja mucho y es muy divertido. Mi mamá se llama Marcela, ella también trabaja y nos hace rico desayuno para la escuela. Mi hermana menor se llama Lorena. Mis abuelitos maternos son muy lindos y nos llevaban al kinder. Era muy feliz porque mi abuelita Elvira iba por mí a la hora de la salida y me compraba un helado. En ocasiones, también mi abuelito Jesús iba por mí y nos regresábamos caminando a su casa. Ahí esperaba a mi mamá hasta que ella salía de trabajar. Mientras ella llegaba, yo jugaba con mi abuelito porque él me quería mucho.
                            p Cuando entré a 1º de primaria, conocí a mi amiga Monse. Ella y yo nos divertíamos mucho en la hora del recreo. Después, pasé a 2º de primaria. Mi maestra era Adriana, ella era muy amable y cariñosa conmigo. Ahora, estoy en 3º de primaria, tengo nuevos compañeros y estoy aprendiendo muchas cosas con mi maestra, que se llama Erika.
                            img(src="i/goma.png").goma
                            img(src="i/lapiz.png").lapiz
                    
                    .row.w100: button(@click="sceneCompleted(false)").button.big.animate__animated.animate__lightSpeedInLeft Siguiente


            scene(v-if="currentScene==6" ref="lastscene" :key="6" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="15" scene-color="#ED1C25")
                info(type="seleccionar" title=title text=" Selecciona la respuesta correcta." textaudio="s/instruccion4.mp3" :autoplay="true")
                activity
                    .finalpreguntas
                        .pregu
                            .h4.text-center ¿En qué persona gramatical está escrito el texto?
                            .row.wrap.around: clickable(v-for="(i, index) in ['Tercera persona del singular','Primera persona del plural','Primera persona del singular']" :key="'p4'+index" :isok="index == 2" ignore-already-ok   ext-validation :ref="'click1'+index" no-animations): number(randomc smaller) {{i}}
                        .pregu
                            .h4.text-center En el texto hay palabras que indican acciones, por ejemplo nací, ¿que tipo de palabra es?
                            .row.wrap.around: clickable(v-for="(i, index) in ['Adjetivo','Sustantivo','Verbo']" :key="'p4'+index" :isok="index == 2"  ignore-already-ok  ext-validation  :ref="'click2'+index"  no-animations): number(randomc smaller) {{i}}
                        .pregu
                            .h4.text-center ¿En qué tiempo verbal está escrita la palabra nací?
                            .row.wrap.around: clickable(v-for="(i, index) in ['Pasado','Presente','Futuro']" :key="'p4'+index" :isok="index == 0"  ignore-already-ok  ext-validation  :ref="'click3'+index"  no-animations): number(randomc smaller) {{i}}
                        .pregu
                            .h4.text-center ¿Cuáles son los tiempos verbales que Claudia usa en su autobiorafía?
                            .row.wrap.around: clickable(v-for="(i, index) in ['Futuro y pasado','Pasado y presente','Presente y futuro']" :key="'p4'+index" :isok="index == 1"  ignore-already-ok  ext-validation  :ref="'click4'+index"  no-animations): number(randomc smaller) {{i}}
                        .pregu
                            .h4.text-center Elige dos datos que escribió Claudia en su autobiografía.
                            .row.wrap.around: clickable(v-for="(i, index) in ['Nombre de familiares','Domicilio de su familia','Recuerdos de su vida']" :key="'p4'+index" :isok="index == 0 || index == 2"  ignore-already-ok  ext-validation  :ref="'click5'+index"  no-animations): number(randomc smaller) {{i}}
                    
                    .row.w100: button(@click="validarRespuestas").button.big.animate__animated.animate__lightSpeedInLeft Validar
            // END
            scene(v-if="currentScene==7" :key="7" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 's1', false)
                app.$set(app.temps, 's1_btn', false)
                
                app.$set(app.temps, 'sc3', false)

                app.$set(app.temps, 's3', false)
                app.$set(app.temps, 's4', false)
                app.$set(app.temps, 's5', false)
                app.$set(app.temps, 's6', false)
                app.$set(app.temps, 's7', false)
                app.$set(app.temps, 's7_btn', false)
                
                app.$set(app.temps, 's12_btn', false)
                app.$set(app.temps, 'preguntas', '')

                app.validarRespuestas = function () {
                    app.$refs.lastscene.oks = 0
                    /* oks */
                    app.$refs.click12[0].isOkOrError()
                    app.$refs.click22[0].isOkOrError()
                    app.$refs.click30[0].isOkOrError()
                    app.$refs.click41[0].isOkOrError()
                    app.$refs.click50[0].isOkOrError()
                    app.$refs.click52[0].isOkOrError()
                    /* errors */
                    
                    app.$refs.click10[0].isOkOrError()
                    app.$refs.click11[0].isOkOrError()
                    
                    app.$refs.click20[0].isOkOrError()
                    app.$refs.click21[0].isOkOrError()

                    app.$refs.click31[0].isOkOrError()
                    app.$refs.click32[0].isOkOrError()
                    
                    app.$refs.click40[0].isOkOrError()
                    app.$refs.click42[0].isOkOrError()
                    app.$refs.click51[0].isOkOrError()
                    if(app.$refs.lastscene.oks < 15){
                        new Howl({ src: ["../../assets/asound/vuelveaintentar_mujer.mp3"], autoplay:true })
                    }
                }
                
                
                app.currentScene = 0
                app.scenesCount = 2