include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Voy al mercado'
mixin dial(pos, tip, audio, vif, txt)
    - var complete = ''
    if vif == 'a'
        - complete = 'b'
    if vif == 'b'
        - complete = 'c'
    if vif == 'c'
        - complete = 'd'
    if vif == 'd'
        - complete = 'e'
    .dialog(class=pos+" tip-"+tip v-if="temps."+vif)
        audiotext(audio="s/"+audio+".mp3" :autoplay="true" @completed="temps."+complete+"=true" text=txt)
mixin dialAuto(pos, tip, audio, txt)
    .dialog(class=pos+" tip-"+tip)
        audiotext(audio="s/"+audio+".mp3" :autoplay="true" @completed="temps."+complete+"=true" text=txt)
<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .desplegar img{ max-width: 80px; }
            .dialog.long{ max-width: 100%; }
            .ticket {
                background: #fff;
                position: relative;
                padding: 20px 0 30px 0;
            }
            .ticket .row{
                padding: 0;
            }
            .ticket:after {
                background: linear-gradient(-45deg, var(--beige) 8px, transparent 0), linear-gradient(45deg, var(--beige) 8px, transparent 0);
                background-position: left-bottom;
                background-repeat: repeat-x;
                background-size: 16px 16px;
                content: " ";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 16px;
            }
            .ticket .tin {
                padding: 10px;
                background: #f5f5f5;
                border: 2px solid #FFFFFF;
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                flex-direction: column;
            }
            .ver2 .tin{
                background: #FCF4CE;
            }
            .final .inputable {
                display: flex;
            }
            .final .inputable input {
                max-width: 80px;
                margin: 0 6px;
            }
            .tag{
                text-align: center;
                font-size: 0.6rem;
                color: #666;
                margin-bottom: 8px;
            }
            .dialog{
                position: relative !important;
            }
            @media (max-width:680px){
                .desplegar img{ max-width: 40px; }
                .inputable input{
                    font-size: 0.8rem;
                    padding: 2px;
                }
                .ticket .tin {
                    padding: 2px 3px;
                }
                .ticket {
                    padding: 6px 0 40px 0;
                }

                .comic {
                    margin-top: 50px !important;
                }

                .comic .dialog .audiotextTxt{
                    font-size: 0.5rem;
                }
            }


    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" hidescorebox :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#83C4AE")
                info(type="seleccionar" title=title :autoplay="true")
                activity
                    .row.w100.vertical
                            .comic.w50
                                lottie-player(src="i/intro.json" key="lt1" background="transparent" speed=".7" style="width: 100%; height: 100%;"  autoplay)
                            .comic.w50
                                //+dial('tr', 'n', 'au1', 'a', '')
                                +dial('none', 'l', 'au1', 'a', '¡Hola! Soy Mario.')
                                +dial('none', 'l', 'au2', 'b', 'Necesito hacer algunas compras en el mercado.')
                                +dial('none', 'l', 'au3', 'c', '¿Me ayudas a seleccionar los alimentos y a calcular cuánto debo pagar?')
                                div(v-if="temps.d")
                                    button(@click="sceneCompleted(false)").button.big.animate__animated.animate__flip Continuar
            
            // SCENES
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#83C4AE" @loaded="resetit")
                info(type="seleccionar" text="Selecciona el alimento y la cantidad del mismo que se solicita. Suma los precios y escribe con número la cantidad de dinero que tendrías que pagar en cada caso." textaudio="s/instruccion1.mp3" title=title :autoplay="true" @completedinstructions="temps.a = true")
                activity
                    .row.w100
                        .w80.ws100: .comic.w100.row
                            .w20.ws30: img(src="i/cabeza1.png").w100
                            .w70.ws60.relative: +dial('br long', 'l', 'n1', 'a', 'Necesitamos: un kilo de manzana y un kilo de plátano. ¿Cuánto vamos a pagar?')
                    .ticket
                        .row.w100.wrap.vertical
                            .w30.ws50.tin
                                div.tag Alimento
                                desplegar(:key="'op1'" initial-status="open" :answer-num="0" show-ok disableok  :options="['uvas', 'manzanas', 'platanos']" @current="convertfruit($event, 'v0')")
                                        template(v-slot:option="{option}"): img(:src="'i/'+option.text+'.png'").w100
                            .w30.ws50.tin
                                div.tag Cantidad
                                inputable(initclass="c1" numerical @current="temps.v1 = $event" disableok)
                            .w30.ws100.text-center.tin
                                div.tag Costo
                                number(c=2 smaller) $ {{temps.v0 * temps.v1}}
                        
                        .row.w100.wrap.vertical.ver2
                            .w30.ws50.tin
                                div.tag Alimento
                                desplegar(:key="'op1'" initial-status="open" :answer-num="0" show-ok disableok  :options="['jicamas', 'platanos', 'mangos']" @current="convertfruit($event, 'v2')")
                                        template(v-slot:option="{option}"): img(:src="'i/'+option.text+'.png'").w100
                            .w30.ws50.tin
                                div.tag Cantidad
                                inputable(initclass="c1"  numerical @current="temps.v3 = $event" disableok)
                            .w30.ws100.text-center.tin
                                div.tag Costo
                                number(c=2 smaller) $ {{temps.v2 * temps.v3}}
                        .row.w100.wrap.vertical.flex-end
                            //####
                            .w50.tin: button(@click="validar('32', 1, '29', 1, 61, 0, 0)").button.animate__animated.animate__flip Validar
                            //####
                            .w40.ws50.tin.final
                                div.tag Total a pagar
                                inputable(initclass="c2" @current="temps.v4 = $event" disableok)
                                    template(v-slot:before=""): number(c=2 smaller) $
            
            
            // SCENES 3
            scene(v-if="currentScene==3" :key="3" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#83C4AE" @loaded="resetit")
                info(type="seleccionar" text="Selecciona el alimento y la cantidad del mismo que se solicita. Suma los precios y escribe con número la cantidad de dinero que tendrías que pagar en cada caso." textaudio="s/instruccion1.mp3" title=title :autoplay="false")
                activity
                    .row.w100
                        .w80.ws100: .comic.w100.row
                            .w10.ws30: img(src="i/cabeza2.png").w100
                            .w70.ws60.relative: +dialAuto('br long', 'l', 'n2', 'Necesitamos: un kilo de manzana, un kilo de uva y un kilo de mango. ¿Cuánto vamos a pagar?')
                    .ticket
                        .row.w100.wrap.vertical
                            .w30.ws50.tin
                                div.tag Alimento
                                desplegar(:key="'op1'" initial-status="open" :answer-num="0" show-ok disableok  :options="['platanos', 'manzanas', 'naranjas']" @current="convertfruit($event, 'v0')")
                                        template(v-slot:option="{option}"): img(:src="'i/'+option.text+'.png'").w100
                            .w30.ws50.tin
                                div.tag Cantidad
                                inputable(initclass="c1" numerical @current="temps.v1 = $event" disableok)
                            .w30.ws100.text-center.tin
                                div.tag Costo
                                number(c=2 smaller) $ {{temps.v0 * temps.v1}}
                        .row.w100.wrap.vertical.ver2
                            .w30.ws50.tin
                                div.tag Alimento
                                desplegar(:key="'op1'" initial-status="open" :answer-num="0" show-ok disableok  :options="['jicamas', 'mangos', 'uvas']" @current="convertfruit($event, 'v2')")
                                        template(v-slot:option="{option}"): img(:src="'i/'+option.text+'.png'").w100
                            .w30.ws50.tin
                                div.tag Cantidad
                                inputable(initclass="c1"  numerical @current="temps.v3 = $event" disableok)
                            .w30.ws100.text-center.tin
                                div.tag Costo
                                number(c=2 smaller) $ {{temps.v2 * temps.v3}}
                        .row.w100.wrap.vertical.ver2
                            .w30.ws50.tin
                                div.tag Alimento
                                desplegar(:key="'op1'" initial-status="open" :answer-num="0" show-ok disableok  :options="['mangos', 'jicamas', 'naranjas']" @current="convertfruit($event, 'v5')")
                                        template(v-slot:option="{option}"): img(:src="'i/'+option.text+'.png'").w100
                            .w30.ws50.tin
                                div.tag Cantidad
                                inputable(initclass="c1"  numerical @current="temps.v6 = $event" disableok)
                            .w30.ws100.text-center.tin
                                div.tag Costo
                                number(c=2 smaller) $ {{temps.v5 * temps.v6}}
                        .row.w100.wrap.vertical.flex-end
                            //####
                            .w50.tin: button(@click="validar('32', 1, '25', 1, 80, '23', 1)").button.animate__animated.animate__flip Validar
                            //####
                            .w40.ws50.tin.final
                                div.tag Total a pagar
                                inputable(initclass="c2" @current="temps.v4 = $event" disableok)
                                    template(v-slot:before=""): number(c=2 smaller) $
            
            
            // SCENES 4
            scene(v-if="currentScene==4" :key="4" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#83C4AE" @loaded="resetit")
                info(type="seleccionar" text="Selecciona el alimento y la cantidad del mismo que se solicita. Suma los precios y escribe con número la cantidad de dinero que tendrías que pagar en cada caso." textaudio="s/instruccion1.mp3" title=title :autoplay="false")
                activity
                    .row.w100
                        .w80.ws100: .comic.w100.row
                            .w10.ws30: img(src="i/cabeza1.png").w100
                            .w70.ws60.relative: +dialAuto('br long', 'l', 'n3', 'Necesitamos: dos kilos de manzana y un kilo de uva. ¿Cuánto vamos a pagar?')
                    .ticket
                        .row.w100.wrap.vertical
                            .w30.ws50.tin
                                div.tag Alimento
                                desplegar(:key="'op1'" initial-status="open" :answer-num="0" show-ok disableok  :options="['platanos', 'manzanas', 'naranjas']" @current="convertfruit($event, 'v0')")
                                        template(v-slot:option="{option}"): img(:src="'i/'+option.text+'.png'").w100
                            .w30.ws50.tin
                                div.tag Cantidad
                                inputable(initclass="c1" numerical @current="temps.v1 = $event" disableok)
                            .w30.ws100.text-center.tin
                                div.tag Costo
                                number(c=2 smaller) $ {{temps.v0 * temps.v1}}
                        .row.w100.wrap.vertical.ver2
                            .w30.ws50.tin
                                div.tag Alimento
                                desplegar(:key="'op1'" initial-status="open" :answer-num="0" show-ok disableok  :options="['jicamas', 'mangos', 'uvas']" @current="convertfruit($event, 'v2')")
                                        template(v-slot:option="{option}"): img(:src="'i/'+option.text+'.png'").w100
                            .w30.ws50.tin
                                div.tag Cantidad
                                inputable(initclass="c1"  numerical @current="temps.v3 = $event" disableok)
                            .w30.ws100.text-center.tin
                                div.tag Costo
                                number(c=2 smaller) $ {{temps.v2 * temps.v3}}

                        .row.w100.wrap.vertical.flex-end
                            //####
                            .w50.tin: button(@click="validar('32', 2, '25', 1, 89, 0, 0)").button.animate__animated.animate__flip Validar
                            //####
                            .w40.ws50.tin.final
                                div.tag Total a pagar
                                inputable(initclass="c2" @current="temps.v4 = $event" disableok)
                                    template(v-slot:before=""): number(c=2 smaller) $
            // SCENES 5
            scene(v-if="currentScene==5" :key="5" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#83C4AE" @loaded="resetit")
                info(type="seleccionar" text="Selecciona el alimento y la cantidad del mismo que se solicita. Suma los precios y escribe con número la cantidad de dinero que tendrías que pagar en cada caso." textaudio="s/instruccion1.mp3" title=title :autoplay="false")
                activity
                    .row.w100
                        .w80.ws100: .comic.w100.row
                            .w10.ws30: img(src="i/cabeza2.png").w100
                            .w70.ws60.relative: +dialAuto('br long', 'l', 'n4', 'Necesitamos: un kilo de naranja y tres kilos de uva. ¿Cuánto vamos a pagar?')
                    .ticket
                        .row.w100.wrap.vertical
                            .w30.ws50.tin
                                div.tag Alimento
                                desplegar(:key="'op1'" initial-status="open" :answer-num="0" show-ok disableok  :options="['platanos', 'manzanas', 'naranjas']" @current="convertfruit($event, 'v0')")
                                        template(v-slot:option="{option}"): img(:src="'i/'+option.text+'.png'").w100
                            .w30.ws50.tin
                                div.tag Cantidad
                                inputable(initclass="c1" numerical @current="temps.v1 = $event" disableok)
                            .w30.ws100.text-center.tin
                                div.tag Costo
                                number(c=2 smaller) $ {{temps.v0 * temps.v1}}
                        .row.w100.wrap.vertical.ver2
                            .w30.ws50.tin
                                div.tag Alimento
                                desplegar(:key="'op1'" initial-status="open" :answer-num="0" show-ok disableok  :options="['jicamas', 'mangos', 'uvas']" @current="convertfruit($event, 'v2')")
                                        template(v-slot:option="{option}"): img(:src="'i/'+option.text+'.png'").w100
                            .w30.ws50.tin
                                div.tag Cantidad
                                inputable(initclass="c1"  numerical @current="temps.v3 = $event" disableok)
                            .w30.ws100.text-center.tin
                                div.tag Costo
                                number(c=2 smaller) $ {{temps.v2 * temps.v3}}

                        .row.w100.wrap.vertical.flex-end
                            //####
                            .w50.tin: button(@click="validar('22', 1, '25', 3, 97, 0, 0)").button.animate__animated.animate__flip Validar
                            //####
                            .w40.ws50.tin.final
                                div.tag Total a pagar
                                inputable(initclass="c2" @current="temps.v4 = $event" disableok)
                                    template(v-slot:before=""): number(c=2 smaller) $

            // SCENES 6
            scene(v-if="currentScene==6" hidescorebox :key="6" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#83C4AE")
                info(type="seleccionar" title=title :autoplay="true")
                activity
                    .row.w100.vertical
                            .comic.w50
                                lottie-player(src="i/intro.json" key="lt1" background="transparent" speed=".7" style="width: 100%; height: 100%;"  autoplay)
                            .comic.w50
                                //+dial('tr', 'n', 'au1', 'a', '')
                                +dial('none', 'l', 'buen', 'a', '¡Buen trabajo!')
                                +dial('none', 'l', 'gracias', 'b', 'Muchas gracias por ayudarme a hacer las compras en el mercado. ')
                                div(v-if="temps.c")
                                    button(@click="sceneCompleted(false)").button.big.animate__animated.animate__flip Finalizar

            // END
            scene(v-if="currentScene==7" :key="7" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'a', true)
                app.$set(app.temps, 'b', false)
                app.$set(app.temps, 'c', false)
                app.$set(app.temps, 'd', false)
                app.$set(app.temps, 'e', false)
                
                app.$set(app.temps, 'v0', 0)
                app.$set(app.temps, 'v1', 0)
                app.$set(app.temps, 'v2', 0)
                app.$set(app.temps, 'v3', 0)
                app.$set(app.temps, 'v4', 0)
                app.$set(app.temps, 'v5', 0)
                app.$set(app.temps, 'v6', 0)

                app.validar = function (v0, v1, v2,v3,v4, v5, v6) {
                    if(
                        app.temps.v0 == v0 &&
                        app.temps.v1 == v1 &&
                        app.temps.v2 == v2 &&
                        app.temps.v3 == v3 &&
                        app.temps.v4 == v4
                    ) {
                        EventBus.$emit('isok')
                        s_ok.play()
                    } else {
                        s_error.play()

                    }
                }

                app.convertfruit = function (ev, temp) {
                    switch(ev){
                        case 'uvas':
                            app.temps[temp] = 25
                            break;
                        case 'manzanas':
                            app.temps[temp] = 32
                            break;
                        case 'naranjas':
                            app.temps[temp] = 22
                            break;
                        case 'platanos':
                            app.temps[temp] = 29
                            break;
                        case 'jicamas':
                            app.temps[temp] = 15
                            break;
                        case 'mangos':
                            app.temps[temp] = 23
                            break;
                        default:
                            app.temps[temp] = 0
                            break;
                    }
                }

                app.resetit = function () {
                    app.temps.a = false
                    app.temps.b = false
                    app.temps.c = false
                    app.temps.d = false
                    app.temps.e = false
                    
                    app.temps.v0 = 0
                    app.temps.v1 = 0
                    app.temps.v2 = 0
                    app.temps.v3 = 0
                    app.temps.v4 = 0
                    app.temps.v5 = 0
                    app.temps.v6 = 0
                }
                
                app.currentScene = 0
                app.scenesCount = 4