include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Construyo un juguete con calor'
mixin docbtn
    a(href="documento.pdf" target="_blank").button.animate__animated.animate__flip.docubtn
        img(src="i/icon.png")
        | Descargar
<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .h4{
                background: #fff;
                padding: 10px;
                border-radius: 10px;
                margin: 10px;
                box-shadow: 4px 4px 0 rgba(0,0,0,0.1);
            }
            @media (max-width: 680px) {
                .h4 {
                    font-size: 0.8rem;
                    padding: 4px;
                }
                .number.smaller {
                    font-size: 0.8rem;
                }
            }
            .docubtn {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #3FABB3;
                text-decoration: none;
            }
            .docubtn img {
                max-height: 30px;
                margin-right: 8px;
            }
            .downdoc {
                position: relative;
                color: #3FABB3;
                padding: 10px;
                background: #fff;
                border-radius: 10px;
                margin: 10px;
                font-size: 0.9rem;
            }
            .downdoc .audiotextBtn {
                position: absolute;
                left: 0;
                top: -10px;
                height: 20px;
                width: 20px;
            }



    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" hidescorebox :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                //info(type="seleccionar" title=title text="Selecciona la respuesta correcta." textaudio="s/instruccion1.mp3" :autoplay="true")
                activity
                    .row.w100.info: h1=title
                    .row.w100: videoplayer(initclass="w100" :autoplay="true" c="6" path="i/v1" @completed="temps.a = true")  
                    
                    .row.w100.mt-auto(v-if="temps.a").text-center.wrap
                        .w50.wm100.downdoc: audiotext(ref="" :autoplay="true" audio="s/documento.mp3" text="Usa el icono de documento para que descargues el diseño y lo uses directamente." @completed="temps.b=true")
                        .w20.ws50: +docbtn
                        .w20.ws50: button(@click="sceneCompleted(false)").button.big Siguiente

            
            // SCENES 2
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Ahora que has visto cómo se construye el barquito, selecciona la respuesta correcta en cada pregunta." textaudio="s/instruccion1.mp3" :autoplay="true")
                    +docbtn
                activity
                    .w100.text-center
                        .h4 ¿Cuál es la fuente de energía del barquito de vapor?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Agua.','Sol.','Calor.']" :key="index" :isok="index == 2" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
                    .w100.mt-1.text-center
                        .h4 ¿Por qué se usa un fragmento de lata en el motor?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Porque es un material que repele el agua.','Porque es un material que conduce el calor.','El fragmento se enfría con el agua.']" :key="index" :isok="index == 1" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
            
            
            // SCENES 3
            scene(v-if="currentScene==3" :key="3" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Ahora que has visto cómo se construye el barquito, selecciona la respuesta correcta en cada pregunta." textaudio="s/instruccion1.mp3" :autoplay="false")
                    +docbtn
                activity
                    .w100.text-center
                        .h4 ¿Qué elemento proporciona la fuente de energía al barquito?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Los popotes.','La vela.','El pegamento.']" :key="index" :isok="index == 1" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
                    .w100.mt-1.text-center
                        .h4 ¿Por qué es importante que los popotes estén doblados en un ángulo de 45°?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Porque así el fragmento de lata queda cerca de la vela.','Porque permite que el pegamento quede firme.','Porque así el barco no se hunde.']" :key="index" :isok="index == 0" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
            
            // SCENES 4
            scene(v-if="currentScene==4" :key="4" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Ahora que has visto cómo se construye el barquito, selecciona la respuesta correcta en cada pregunta." textaudio="s/instruccion1.mp3" :autoplay="false")
                    +docbtn
                activity
                    .w100.text-center
                        .h4 ¿Por qué es necesario colocar agua dentro de los popotes?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Porque el calor los secará.','Para generar el vapor.','Para que tengan peso.']" :key="index" :isok="index == 1" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
                    .w100.mt-1.text-center
                        .h4 Andrés no tiene una vela de mecha y colocará una vela artificial que usa bateria, ¿crees que funcione el barquito?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Sí, lo importante es que produzca luz.','No, porque se necesita fuego para generar el calor necesario.','No, porque pesa más una vela artificial.']" :key="index" :isok="index == 1" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
            
            // SCENES 5
            scene(v-if="currentScene==5" :key="5" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Te invitamos a hacer el barquito para que experimentes y compruebes cómo funciona." textaudio="s/instruccion2.mp3" :autoplay="true")
                    +docbtn
                activity
                    .w50.text-center: lottie-player(src="i/ship.json" key="m3" background="transparent" speed="1" style="width: 100%; height: 100%;" autoplay loop)

                    .row.w100.mt-1.text-center: button(@click="sceneCompleted(false)").button.big.animate__animated.animate__flip Finalizar
                   
            
            // END
            scene(v-if="currentScene==6" :key="6" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'a', false)
                app.$set(app.temps, 'b', false)
                
                app.currentScene = 0
                app.scenesCount = 3