include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Construyo un juguete con calor'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .h4{
                background: #fff;
                padding: 10px;
                border-radius: 10px;
                margin: 10px;
                box-shadow: 4px 4px 0 rgba(0,0,0,0.1);
            }
            @media (max-width: 680px) {
                .h4 {
                    font-size: 0.8rem;
                    padding: 4px;
                }
                .number.smaller {
                    font-size: 0.8rem;
                }
            }


    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" hidescorebox :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                //info(type="seleccionar" title=title text="Selecciona la respuesta correcta." textaudio="s/instruccion1.mp3" :autoplay="true")
                activity
                    .row.w100.info: h1=title
                    .row.w100: videoplayer(initclass="w100" :autoplay="true" c="6" path="i/v1" @completed="temps.a = true")  
                    .row.w100(v-if="temps.a"): button(@click="sceneCompleted(false)").button.big Siguiente

            
            // SCENES 2
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Selecciona la respuesta correcta." textaudio="s/instruccion1.mp3" :autoplay="true")
                activity
                    .w100.text-center
                        .h4 ¿Cómo es el pueblo de Hamelín?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Un pueblo con mucho dinero y castillos.','Es un lejano pueblo invadido de ratones.','Es una ciudad con grandes edificios.']" :key="index" :isok="index == 1" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
                    .w100.mt-1.text-center
                        .h4 ¿En qué momento el alcalde se desesperó con los ratones?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Cuando se comieron su pastel.','Cuando invadieron al panadero.','Cuando destruyeron su sillón favorito.']" :key="index" :isok="index == 2" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
            
            
            // SCENES 3
            scene(v-if="currentScene==3" :key="3" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Selecciona la respuesta correcta." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .w100.text-center
                        .h4 ¿Quién ofreció una solución al alcalde?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Un sastre que llevaba  tela a su casa.','Un flautista que pasaba por el lugar.','La cocinera del alcalde.']" :key="index" :isok="index == 1" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
                    .w100.mt-1.text-center
                        .h4 ¿Cuál será la razón por la que el alcalde le ofreció al flautista mucho más dinero del que pidió?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Porque el flautista era muy pobre.','Porque quería resolver el problema lo más pronto posible.','Porque el alcalde había robado dinero.']" :key="index" :isok="index == 1" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
            
            // SCENES 4
            scene(v-if="currentScene==4" :key="4" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Selecciona la respuesta correcta." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .w100.text-center
                        .h4 ¿Qué opinas de la acción del acalde de no pagar al flautista?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Su acción fue correcta porque fue un trabajo corto.','Hizo bien en no pagar, era solo un flautista que no tiene profesión.','Fue algo incorrecto porque fue el acuerdo y el flautista resolvió el problema.']" :key="index" :isok="index == 2" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
                    .w100.mt-1.text-center
                        .h4 ¿Qué características tiene el alcalde en este cuento?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Es alguien confiable y amable.','Tiene fama de tener mucho dinero.','Es mentiroso y desconsiderado.']" :key="index" :isok="index == 2" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
            
            // SCENES 5
            scene(v-if="currentScene==5" :key="5" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="2" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Selecciona la respuesta correcta." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .w100.text-center
                        .h4 ¿Qué hizo el flautista como respuesta a la acción del alcalde?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Se llevó a los panaderos del pueblo.','Tocó una melodía y se llevó a los niños.','No se fue de casa del alcalde hasta que le pagó.']" :key="index" :isok="index == 1" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
                    .w100.mt-1.text-center
                        .h4 ¿Por qué el flautista no quería que los niños del pueblo siguieran el ejemplo de los adultos?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Porque el flautista no quería que los niños siguieran el mal ejemplo de los que se burlaron de él.','Porque los adultos del pueblo son un ejemplo de bondad y de amabilidad.','Porque los niños se volverían alegres y trabajadores, y el flautista no lo era.']" :key="index" :isok="index == 0" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{i}}
            
            
            // END
            scene(v-if="currentScene==6" :key="6" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'a', false)
                
                app.currentScene = 0
                app.scenesCount = 4