include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Identifico el valor de decimal'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .ficha {
                position: relative;
                width: 120px;
                height: 60px;
                background: #FDEEB9;
                border-radius: 4px;
                border: 2px solid #000;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
                justify-content: normal;
                text-align: center;
            }
            .ficha.off {
                flex-direction: row-reverse;
            }
            .ficha .ficha1,
            .ficha .ficha2 {
                width: 48%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .ficha .ficha2 {
                /*background: #FEF7D8;*/
            }
            .ficha .mid {
                background: #000;
                width: 2%;
                height: 100%;
            }
            .ficha hr {
                border: none;
                border-top: 2px solid #000;
                min-width: 20px;
            }
            .fic{
                text-align: center;
            }
            .fic .button {
                /*
                position: absolute;
                left: 50%;
                margin-left: -17%;
                bottom: -20%;
                */
                font-size: 0.6rem;
                background: #000;
                color: #fff;
                z-index: 10;
            }
            .drag{
                width: auto; height: auto;
                margin: 10px;
            }

            .drop {
                width: 120px;
                border-radius: 4px;
                height: 60px;
                background: #fff;
                margin: 4px;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1) inset;
            }
            .drop button {
                display: none;
            }
            [wascloned] {
                display: none;
            }
            [wascloned]+button{display: none;}




    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            mixin ficha(ind, num1, num2, val)
                div.fic
                    drag(ref=ind :data="temps['"+ind+"']?"+val+":1"+val dropzone=".drop" stay-if-ok append-clone extval)
                        .row.ficha(:class="temps['"+ind+"']?'on':'off'")
                            .ficha1 !{num1}
                            .mid
                            .ficha2 !{num2}
                            //button.button(@click="temps['"+ind+"']=!temps['"+ind+"']") Voltear
                    button.button(@click="temps['"+ind+"']=!temps['"+ind+"']") Voltear

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="5" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="¡Vamos a jugar dominó! Coloca las fichas uniendo las fracciones con los números decimales que correspondan." textaudio="s/instruccion1.mp3" :autoplay="true")
                activity
                    .row.w100.wrap
                        +ficha('f2', '<div>1<hr>6</div>', '<div>0.25</div>', 2)
                        +ficha('f4', '<div>2<hr>3</div>', '<div>0.5</div>', 4)
                        +ficha('f3', '<div>1<hr>4</div>', '<div>0.66</div>', 3)
                        +ficha('f0', '<div>1<hr>2</div>', '<div>0.75</div>', 0)
                        +ficha('f1', '<div>3<hr>4</div>', '<div>0.16</div>', 1)
                    .row.w100.wrap.mt-1
                        .drop(data="0" droptimes="untilok")
                        .drop(data="1" droptimes="untilok")
                        .drop(data="2" droptimes="untilok")
                        .drop(data="3" droptimes="untilok")
                        .drop(data="4" droptimes="untilok")

                    .text-center: button(@click="dragValidation(['f0','f1','f2','f3', 'f4'], 5)").button.big.animate__animated.animate__flip Verificar
            // SCENES
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="5" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="¡Vamos a jugar dominó! Coloca las fichas uniendo las fracciones con los números decimales que correspondan." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100.wrap
                        +ficha('b4', '<div>3<hr>9</div>', '<div>0.14</div>', 4)
                        +ficha('b2', '<div>4<hr>6</div>', '<div>0.4</div>', 2)
                        +ficha('b1', '<div>3<hr>6</div>', '<div>0.66</div>', 1)
                        +ficha('b3', '<div>2<hr>5</div>', '<div>0.33</div>', 3)
                        +ficha('b0', '<div>1<hr>7</div>', '<div>0.50</div>', 0)
                    .row.w100.wrap.mt-1
                        .drop(data="0" droptimes="untilok")
                        .drop(data="1" droptimes="untilok")
                        .drop(data="2" droptimes="untilok")
                        .drop(data="3" droptimes="untilok")
                        .drop(data="4" droptimes="untilok")

                    .text-center: button(@click="dragValidation(['b0','b1','b2','b3', 'b4'], 5)").button.big.animate__animated.animate__flip Verificar
            // SCENES
            scene(v-if="currentScene==3" :key="3" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="5" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="¡Vamos a jugar dominó! Coloca las fichas uniendo las fracciones con los números decimales que correspondan." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100.wrap
                        +ficha('c3', '<div>2<hr>8</div>', '<div>0.42</div>', 3)
                        +ficha('c4', '<div>3<hr>7</div>', '<div>0.125</div>', 4)
                        +ficha('c1', '<div>3<hr>5</div>', '<div>0.33</div>', 1)
                        +ficha('c0', '<div>1<hr>8</div>', '<div>0.6</div>', 0)
                        +ficha('c2', '<div>2<hr>6</div>', '<div>0.25</div>', 2)
                    .row.w100.wrap.mt-1
                        .drop(data="0" droptimes="untilok")
                        .drop(data="1" droptimes="untilok")
                        .drop(data="2" droptimes="untilok")
                        .drop(data="3" droptimes="untilok")
                        .drop(data="4" droptimes="untilok")

                    .text-center: button(@click="dragValidation(['c0','c1','c2','c3', 'c4'], 5)").button.big.animate__animated.animate__flip Verificar
            
            // SCENES
            scene(v-if="currentScene==4" :key="4" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="5" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="¡Vamos a jugar dominó! Coloca las fichas uniendo las fracciones con los números decimales que correspondan." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100.wrap
                        +ficha('d3', '<div>2<hr>4</div>', '<div>0.8</div>', 3)
                        +ficha('d2', '<div>3<hr>10</div>', '<div>0.5</div>', 2)
                        +ficha('d0', '<div>1<hr>5</div>', '<div>0.1</div>', 0)
                        +ficha('d4', '<div>4<hr>5</div>', '<div>0.2</div>', 4)
                        +ficha('d1', '<div>3<hr>10</div>', '<div>0.3</div>', 1)
                    .row.w100.wrap.mt-1
                        .drop(data="0" droptimes="untilok")
                        .drop(data="1" droptimes="untilok")
                        .drop(data="2" droptimes="untilok")
                        .drop(data="3" droptimes="untilok")
                        .drop(data="4" droptimes="untilok")

                    .text-center: button(@click="dragValidation(['d0','d1','d2','d3', 'd4'], 5)").button.big.animate__animated.animate__flip Verificar


            
            // END
            scene(v-if="currentScene==5" :key="5" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'f0', true)
                app.$set(app.temps, 'f1', false)
                app.$set(app.temps, 'f2', true)
                app.$set(app.temps, 'f3', false)
                app.$set(app.temps, 'f4', false)

                app.$set(app.temps, 'b0', false)
                app.$set(app.temps, 'b1', false)
                app.$set(app.temps, 'b2', true)
                app.$set(app.temps, 'b3', true)
                app.$set(app.temps, 'b4', true)
                
                app.$set(app.temps, 'c0', true)
                app.$set(app.temps, 'c1', false)
                app.$set(app.temps, 'c2', false)
                app.$set(app.temps, 'c3', true)
                app.$set(app.temps, 'c4', false)
               
                app.$set(app.temps, 'd0', true)
                app.$set(app.temps, 'd1', false)
                app.$set(app.temps, 'd2', true)
                app.$set(app.temps, 'd3', false)
                app.$set(app.temps, 'd4', false)

                
                app.currentScene = 0
                app.scenesCount = 4