include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Conozco al Siervo de la Nación'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .infow {
                background: #D6EDE6;
                border-radius: 10px;
                padding-top: 10px;
            }
            .sequence .sequence_nav {
                align-items: center;
            }
            .sequence .sequence_nav .button {
                font-size: 0.8rem;
            }
            .sequence .sequence_nav .button.big {
                font-size: 0.8rem;
            }


    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Lee la información de las etapas de la guerra de Independencia y selecciona la respuesta correcta en cada pregunta." textaudio="s/instruccion1.mp3" :autoplay="true")
                activity
                    .row.w100.text-center.column.infow
                        .w60: img(src="i/title.png").w100
                        .w80.ws100: sequence(:options="temps.etapas" ref="etapas" :autoplay="true" dots)
                            template(v-slot:option="{option}"): img(:src="'i/'+option.img+'.png'").w100
                    .w100.mt-1.text-center
                        .h4 ¿En qué etapa del movimiento de Independencia participó Morelos?
                        .row.wrap.around: clickable(v-for="(i, index) in ['En la cuarta etapa.','En la quinta etapa.','En la segunda etapa.']" key="p1" :isok="index == 2" simple-ok initclass="pa-1"): number(randomc smaller) {{i}}
            // SCENES
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Lee la información de las etapas de la guerra de Independencia y selecciona la respuesta correcta en cada pregunta." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100.text-center.column.infow
                        .w60: img(src="i/title.png").w100
                        .w80.ws100: sequence(:options="temps.etapas" ref="etapas" :autoplay="true" dots)
                            template(v-slot:option="{option}"): img(:src="'i/'+option.img+'.png'").w100
                    .w100.mt-1.text-center
                        .h4 ¿Qué otros insurgentes  participaron en la segunda etapa?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Vicente Guerrero y Miguel Hidalgo.','Félix M. Calleja y Miguel Bravo.','Mariano Matamoros y Vicente Guerrero.']" key="p2" :isok="index == 2" simple-ok initclass="pa-1"): number(randomc smaller) {{i}}
            // SCENES
            scene(v-if="currentScene==3" :key="3" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Lee la información de las etapas de la guerra de Independencia y selecciona la respuesta correcta en cada pregunta." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100.text-center.column.infow
                        .w60: img(src="i/title.png").w100
                        .w80.ws100: sequence(:options="temps.etapas" ref="etapas" :autoplay="true" dots)
                            template(v-slot:option="{option}"): img(:src="'i/'+option.img+'.png'").w100
                    .w100.mt-1.text-center
                        .h4 ¿Qué documento se redactó en el Congreso de Chilpancingo?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Constitución de Chilpancingo.','Constitución de Apatzingán.','Constitución de Morelos.']" key="p3" :isok="index == 1" simple-ok initclass="pa-1"): number(randomc smaller) {{i}}
            // SCENES
            scene(v-if="currentScene==4" :key="4" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Lee la información de las etapas de la guerra de Independencia y selecciona la respuesta correcta en cada pregunta." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100.text-center.column.infow
                        .w60: img(src="i/title.png").w100
                        .w80.ws100: sequence(:options="temps.etapas" ref="etapas" :autoplay="true" dots)
                            template(v-slot:option="{option}"): img(:src="'i/'+option.img+'.png'").w100
                    .w100.mt-1.text-center
                        .h4 ¿Cuál fue una de las aportaciones escritas de Morelos?
                        .row.wrap.around: clickable(v-for="(i, index) in ['El documento Sentimientos de la Nación.','Decálogo de los Sentimientos de la Nación.','La novela Sentimientos de la Nación.']" key="p4" :isok="index == 0" simple-ok initclass="pa-1"): number(randomc smaller) {{i}}
            // SCENES
            scene(v-if="currentScene==5" :key="5" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Lee la información de las etapas de la guerra de Independencia y selecciona la respuesta correcta en cada pregunta." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100.text-center.column.infow
                        .w60: img(src="i/title.png").w100
                        .w80.ws100: sequence(:options="temps.etapas" ref="etapas" :autoplay="true" dots)
                            template(v-slot:option="{option}"): img(:src="'i/'+option.img+'.png'").w100
                    .w100.mt-1.text-center
                        .h4 ¿Cómo se le llamó a Morelos después del Congreso de Chilpancingo?
                        .row.wrap.around: clickable(v-for="(i, index) in ['Alteza Serenísima.','Siervo de la Nación.','Padre de la Patria.']" key="p5" :isok="index == 1" simple-ok initclass="pa-1"): number(randomc smaller) {{i}}

            
            // END
            scene(v-if="currentScene==6" :key="6" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'a', [])

                app.$set(app.temps, 'etapas', [
                    {img: '1a',},
                    {img: '2a'},
                    {img: '3a'},
                    {img: '4a'},
                ])
                
                app.currentScene = 0
                app.scenesCount = 1